blinker
click
dnspython
email_validator
Flask
gunicorn
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pillow
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
flask_migrate
